/***** clearfix *****/
.clear {clear: both;height: 0;line-height: 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}

/* Panel Tab/button */
.tab {
  	background: url(../images/tab_b.png) repeat-x 0 0;
	height: 42px;
	position: relative;
    top: 0;
    z-index: 999;
}

.tab ul.login {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height: 42px;
	width: auto;
  	font-weight: bold;
	line-height: 42px;
	margin: 0;
	right: 250px;
  	color: white;
  	font-size: 80%;
	text-align: center;
}

.tab ul.login li.left {
  	background: url(../images/tab_l.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li.right {
  	background: url(../images/tab_r.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li {
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 42px;
  	background: url(../images/tab_m.png) repeat-x 0 0;
}

.tab ul.login li a {
	color: #15ADFF;
}

.tab ul.login li a:hover {
	color: white;
}

.tab .sep {color:#414141}

.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 100px;
	position: relative;
	top: 11px;
}

.tab a.open {background: url(../images/bt_open.png) no-repeat left 0;}
.tab a.close {background: url(../images/bt_close.png) no-repeat left 0;}
.tab a:hover.open {background: url(../images/bt_open.png) no-repeat left -19px;}
.tab a:hover.close {background: url(../images/bt_close.png) no-repeat left -19px;}

/* sliding panel */
#toppanel {
    position: absolute;   /*Panel will overlap  content */
    /*position: relative;*/   /*Panel will "push" the content down */
    top: 0;
    width: 100%;
    z-index: 92;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#panel {
	width: 100%;
	height: 290px;
	color: #999999;
	overflow: hidden;
	position: relative;
	z-index: 92;
	display: none;
	background:url(../images/tab_m.png) bottom repeat-x #272727;
}

#panel h1 {
	font-size: 1.6em;
	padding: 5px 0 5px;
	margin: 0;
	color: white;
}

#panel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#panel p {
	margin: 5px 0;
	padding: 0;
}

#panel a {
	text-decoration: none;
	color: #15ADFF;
}

#panel a:hover {
	color: white;
}

#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#panel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#panel .content .right {
	border-right: 1px solid #333;
}

#panel .content form {
	margin: 0 0 10px 0;
}

#panel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#panel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#panel .content select.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 20px;
}

#panel .content input:focus.field {
	background: #545454;
}

/* BUTTONS */
/* Login and Register buttons */
#panel .content input.bt_login,
#panel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#panel .content input.bt_login {
	width: 74px;
	background: transparent url(../images/bt_login.png) no-repeat 0 0;
}

#panel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(../images/bt_register.png) no-repeat 0 0;
}

/* Event Panel CSS */

#eventpanel {
	width: 100%;
	height: 340px;
	color: #999999;
	overflow: hidden;
	position: relative;
	z-index: 92;
	display: none;
	background:url(../images/tab_m.png) bottom repeat-x #272727;
}

#eventpanel h1 {
	font-size: 1.6em;
	padding: 5px 0 5px;
	margin: 0;
	color: white;
}

#eventpanel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#eventpanel p {
	margin: 5px 0;
	padding: 0;
}

#eventpanel a {
	text-decoration: none;
	color: #15ADFF;
}

#eventpanel a:hover {
	color: white;
}

#eventpanel a-lost-pwd {
	display: block;
	float: left;
}

#eventpanel .content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#eventpanel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#eventpanel .content .right {
	border-right: 1px solid #333;
}

#eventpanel .content form {
	margin: 0 0 10px 0;
}

#eventpanel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#eventpanel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#eventpanel .content select.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 20px;
}

#eventpanel .content input:focus.field {
	background: #545454;
}

/* BUTTONS */
/* Login and Register buttons */
#eventpanel .content input.bt_login,
#eventpanel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#eventpanel .content input.bt_login {
	width: 74px;
	background: transparent url(../images/bt_login.png) no-repeat 0 0;
}

#eventpanel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(../images/bt_register.png) no-repeat 0 0;
}

/* Winery Panel CSS */
#winerypanel {
	width: 100%;
	height: 290px;
	color: #999999;
	overflow: hidden;
	position: relative;
	z-index: 92;
	display: none;
	background:url(../images/tab_m.png) bottom repeat-x #272727;
}

#winerypanel h1 {
	font-size: 1.6em;
	padding: 5px 0 5px;
	margin: 0;
	color: white;
}

#winerypanel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#winerypanel p {
	margin: 5px 0;
	padding: 0;
}

#winerypanel a {
	text-decoration: none;
	color: #15ADFF;
}

#winerypanel a:hover {
	color: white;
}

#winerypanel .content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#winerypanel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#winerypanel .content .right {
	border-right: 1px solid #333;
}

#winerypanel .content form {
	margin: 0 0 10px 0;
}

#winerypanel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#winerypanel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#winerypanel .content select.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 20px;
}

#winerypanel .content input:focus.field {
	background: #545454;
}

/* BUTTONS */
/* Login and Register buttons */
#winerypanel .content input.bt_login,
#winerypanel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#winerypanel .content input.bt_login {
	width: 74px;
	background: transparent url(../images/bt_login.png) no-repeat 0 0;
}

#winerypanel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(../images/bt_register.png) no-repeat 0 0;
}

/* Homebrew Store Panel CSS */
#homebrewpanel {
	width: 100%;
	height: 290px;
	color: #999999;
	overflow: hidden;
	position: relative;
	z-index: 92;
	display: none;
	background:url(../images/tab_m.png) bottom repeat-x #272727;
}

#homebrewpanel h1 {
	font-size: 1.6em;
	padding: 5px 0 5px;
	margin: 0;
	color: white;
}

#homebrewpanel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#homebrewpanel p {
	margin: 5px 0;
	padding: 0;
}

#homebrewpanel a {
	text-decoration: none;
	color: #15ADFF;
}

#homebrewpanel a:hover {
	color: white;
}

#homebrewpanel .content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#homebrewpanel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#homebrewpanel .content .right {
	border-right: 1px solid #333;
}

#homebrewpanel .content form {
	margin: 0 0 10px 0;
}

#homebrewpanel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#homebrewpanel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#homebrewpanel .content select.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 20px;
}

#homebrewpanel .content input:focus.field {
	background: #545454;
}

/* BUTTONS */
/* Login and Register buttons */
#homebrewpanel .content input.bt_login,
#homebrewpanel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#homebrewpanel .content input.bt_login {
	width: 74px;
	background: transparent url(../images/bt_login.png) no-repeat 0 0;
}

#homebrewpanel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(../images/bt_register.png) no-repeat 0 0;
}

/* nursery Panel CSS */
#nurserypanel {
	width: 100%;
	height: 385px;
	color: #999999;
	overflow: hidden;
	position: relative;
	z-index: 92;
	display: none;
	background:url(../images/tab_m.png) bottom repeat-x #272727;
}

#nurserypanel h1 {
	font-size: 1.6em;
	padding: 5px 0 5px;
	margin: 0;
	color: white;
}

#nurserypanel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#nurserypanel p {
	margin: 5px 0;
	padding: 0;
}

#nurserypanel a {
	text-decoration: none;
	color: #15ADFF;
}

#nurserypanel a:hover {
	color: white;
}

#nurserypanel .content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#nurserypanel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#nurserypanel .content .right {
	border-right: 1px solid #333;
}

#nurserypanel .content form {
	margin: 0 0 10px 0;
}

#nurserypanel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#nurserypanel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#nurserypanel .content select.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 20px;
}

#nurserypanel .content input:focus.field {
	background: #545454;
}

/* BUTTONS */
/* Login and Register buttons */
#nurserypanel .content input.bt_login,
#nurserypanel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#nurserypanel .content input.bt_login {
	width: 74px;
	background: transparent url(../images/bt_login.png) no-repeat 0 0;
}

#nurserypanel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(../images/bt_register.png) no-repeat 0 0;
}

/* Information Panel CSS */
#ipanel {
	width: 100%;
	height: 440px;
	color: #999999;
	overflow: hidden;
	position: relative;
	z-index: 92;
	display: none;
	background:url(../images/tab_m.png) bottom repeat-x #272727;
}

#ipanel h1 {
	font-size: 1.6em;
	padding: 5px 0 5px;
	margin: 0;
	color: white;
}

#ipanel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#ipanel p {
	margin: 5px 0;
	padding: 0;
}

#ipanel a {
	text-decoration: none;
	color: #15ADFF;
}

#ipanel a:hover {
	color: white;
}

#ipanel a-lost-pwd {
	display: block;
	float: left;
}

#ipanel .content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#ipanel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#ipanel .content .right {
	border-right: 1px solid #333;
}

#ipanel .content form {
	margin: 0 0 10px 0;
}

#ipanel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#ipanel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#ipanel .content select.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 20px;
}

#ipanel .content input:focus.field {
	background: #545454;
}

/* BUTTONS */
/* Login and Register buttons */
#ipanel .content input.bt_login,
#ipanel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#ipanel .content input.bt_login {
	width: 74px;
	background: transparent url(../images/bt_login.png) no-repeat 0 0;
}

#ipanel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(../images/bt_register.png) no-repeat 0 0;
}

/* On/Off Panel CSS */
#onoffpanel {
	width: 20%;
	height: 200px;
	color: #999999;
	overflow: hidden;
	position: relative;
	z-index: 92;
	display: none;
	text-align:left;
	background:url(../images/tab_m.png) bottom repeat-x #272727;
}

#onoffpanel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
}

#onoffpanel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#onoffpanel p {
	margin: 5px 0;
	padding: 0;
}

#onoffpanel a {
	text-decoration: none;
	color: #15ADFF;
}

#onoffpanel a:hover {
	color: white;
}

/* BUTTONS */
/* Login and Register buttons */
#onoffpanel .content input.bt_login,
#onoffpanel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#onoffpanel .content input.bt_login {
	width: 74px;
	background: transparent url(../images/bt_login.png) no-repeat 0 0;
}

#onoffpanel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(../images/bt_register.png) no-repeat 0 0;
}

/* Search Panel CSS */
#searchpanel {
	width:300px;
	height:60%;
	top:5px;
	color: #999999;
	overflow: hidden;
	position: relative;
	z-index: 90;
	display: none;
	border:1px groove #fff;
		-moz-border-radius-topright: 20px;
		-webkit-border-top-right-radius: 20px;
		-moz-border-radius-bottomright: 20px;
		-webkit-border-bottom-right-radius: 20px;
	border-left:0px;		
	background:#272727;
}

#searchpanel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
}

#searchpanel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#searchpanel p {
	margin: 5px 0;
	padding: 0;
}

#searchpanel a {
	text-decoration: none;
	color: #15ADFF;
}

#searchpanel a:hover {
	color: white;
}

/* BUTTONS */
/* Login and Register buttons */
#searchpanel .content input.bt_login,
#searchpanel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}